JPEG-Python/pyencoder/__pycache__
JPEG-Python/decoder/lpy-jpeg-decoder
JPEG-Python/cencoder/*.o
JPEG-Python/cencoder/*.exe
JPEG-Python/cencoder/lpy-jpeg-encoder
JPEG-Python/decoder/*.o
JPEG-Python/decoder/*.exe
JPEG-Python/bin/

